/* body */
* {box-sizing: border-box;}
body {text-align: center; font-family: Georgia; font-size: 18px; line-height: 28px; color: #000; background: #fff; margin: 0; padding: 0; position: relative; width: 100%; height: 100%;}
body.mce-content-body {text-align: left; padding: 10px !important; overflow-y: scroll;}

/* structure */
.container {max-width: 1100px; margin: auto; text-align: left;}
section {padding: 50px; border-bottom: solid 1px #ddd;}
section:nth-child(odd) {background: #efefef; overflow: hidden;}
.widget {margin: 0 0 40px 0; overflow: hidden;}
.widget:last-child {margin: 0;}
p {margin: 0 0 30px 0;}

/* header */
header {background: #ddd; padding: 50px; height: 200px; position: relative;}
header h1 {font-size: 50px; line-height: 50px; margin: 0;}

/* footer */
footer {background: #ddd; padding: 30px;}

/* navigation */
nav {padding: 20px; position: relative;}
nav ul {margin: 0; padding: 0;}
nav ul li {margin: 0 50px 0 0; padding: 0; list-style: none; display: inline-block;}
nav ul li a {}
nav ul li.selected a {color: #777;}

/* headings */ 
h1, h2, h3 {font-family: Georgia;}
h1 {font-size: 34px; line-height: 40px; font-weight: 400; margin: 0 0 30px 0; padding: 0;}
h2 {font-size: 26px; line-height: 36px; font-weight: 400; margin: 0 0 20px 0; padding: 0;}
h3 {font-size: 18px; line-height: 28px; font-weight: 400; margin: 0 0 10px 0; padding: 0;}

/* list */
ul {margin: 0 0 30px 0; padding: 0; list-style: none;}
ul li {margin: 0 0 10px 0; padding: 0 0 0 20px; position: relative;}
.widget.text ul li:before, .mce-content-body ul li:before {content: ''; width: 8px; height: 8px; background: #aaa; position: absolute; top: 10px; left: 0; border-radius: 8px;}
ol {margin: 0 0 30px 25px; padding: 0;}
ol li {margin: 0 0 10px 0;}

/* links */
a {color: #f77; text-decoration: none; transition: opacity 0.3s;}
a:hover {opacity: 0.7;}
a.button {display: inline-block; background: #f77; color: #fff; border-radius: 4px; padding: 10px 20px;}



/* tablet */
@media (max-width: 820px) {
}


/* mobile */
@media (max-width: 500px) {
  header {padding: 20px; height: 150px;}
  header h1 {font-size: 40px; line-height: 40px;}
  nav {padding: 0; border-left: solid 4px #f2f2f2;}
  nav ul {margin: 45px 0 0 0;}
  nav ul li {margin: 0; padding: 0; display: block;}
  nav ul li a {color: #555; display: block; padding: 12px 10px; font-weight: normal; background: none; transition: all 0.4s;}
  nav ul li a:hover {background-color: #f4f4f4; text-decoration: none; opacity: 1;}
  section {padding: 20px;}
  footer {padding: 20px;}
}